body{
    margin:0px;
    padding:0px;
}
@media screen and (max-width:1025px){
    #header{
        height:80px;
        margin:0 auto;
        background-color:#0000ffa3;
        padding:30px;    
        /* position: fixed; */
        top:0px;
        width:100%;
        z-index:99;
    }
    .toggle-nav{
        display:none
    }
    .toggle-menu{
        display:none;
    }
    .logo{
        width:80px;
    }
    .logo img{
        width:100%;
        margin-top:-30px;
        margin-right:10px;
    
    }
    .navbars{
        float:right;
        margin-top:0px;
        margin-left:126px;
    }
    .navbars ul{
        list-style:none;
        float:left;
        margin-top:-60px;
        margin-right:90px;
    }
    .navbars ul li{
        float:left;
        margin-left:35px;
    }
    .navbars ul li a{
        font-family: Arial, Helvetica, sans-serif;
        font-size:16px;
        color:white;
    }
    .navbars ul li a:hover{
        font-size:16px;
        color:black;
        text-decoration: none;
    }
    .lin{
        border:1px solid red;
        width:42px;
        margin-left:46px;
        
    }
    .circle{
        border:1px solid white;
        width:30px;
        height:30px;
    }
    .circle i{
        margin-left:4px;
        margin-top:2px;
        
    }
    .add i{
        color:white;
    }
    .fas{
        font-size:20px;
    }
    .circle i.fas{
        margin-top:4px;
    }
    .fab{
        font-size:22px;
    }
    .circle i .fab {
        font-size:25px;
        margin-top:4px;
       
    }
}